@import "../layouts/Variables";
@import "../layouts/mixin";
.section.active {
  display: block;
}
.section {
  display: none;
}
// Home Start
.home {
  .hero {
    position: relative;
    overflow: hidden;
    background-image: url("/images/home/about-us.jpg");
    background-position: center;
    background-size: cover;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: start;
    color: $white;
    margin-bottom: 30px;
    @media (min-width: 992px) {
      margin-bottom: 50px;
    }
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgba(0, 0, 0, 0.5);
      // z-index: 0;
    }

    .container {
      position: relative;
      // z-index: 1;

      @media (min-width: 768px) {
        margin: 0;
        padding: 0 30px;
      }
      .heading {
        width: 100%;
        max-width: 500px;
        margin-top: 70px;
      }
      small {
        font-size: 18px;
        line-height: 22px;
        display: block;
        @media (min-width: 992px) {
          font-size: 24px;
          line-height: 28px;
          margin-bottom: 20px;
        }
      }
    }
  }

  .about {
    margin-bottom: 30px;
    @media (min-width: 992px) {
      margin-bottom: 50px;
    }
    .container {
      @include flex(center, 30px, center);
      flex-direction: column;
      @media (min-width: 992px) {
        @include flex(center, 30px, space-between);
        flex-direction: row;
      }
      .videoWrap {
        width: 100%;
        max-width: 634px;
        position: relative;
        display: flex;
        justify-content: center;
        img {
          width: 100%;
          height: auto;
        }
        .play {
          position: absolute;
          top: 50%;
          bottom: 0;
          // z-index: 1;
          color: $white;
          border: 2px solid $white;
          width: 50px;
          height: 50px;
          border-radius: 50%;
          display: flex;
          justify-content: center;
          align-items: center;
        }
        iframe {
          width: 100%;
          height: auto;
          border: none;
        }
      }
      .textHolder {
        width: 100%;
        max-width: 594px;
        text-align: center;
        font-size: 16px;
        line-height: 20px;
        h2 {
          color: $primary;
          margin-bottom: 20px;
          @media (min-width: 992px) {
            margin-bottom: 50px;
          }
        }
        i {
          font-weight: bold;
        }
        .btn {
          margin: 20px 0 0;
          @media (min-width: 992px) {
            margin: 50px 0 0;
          }
        }
      }
    }
  }
  .cards {
    margin-bottom: 30px;
    @media (min-width: 992px) {
      margin-bottom: 50px;
    }
    .cardWrap {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      gap: 20px;
      @media (min-width: 576px) {
        grid-template-columns: repeat(2, 1fr);
      }
      @media (min-width: 992px) {
        grid-template-columns: repeat(3, 1fr);
      }
      .card {
        .textWrap {
          border: 1px solid $border;
          padding: 40px 20px;
          text-align: center;
          font-size: 14px;
          line-height: 18px;
          .title {
            color: $primary;
            display: block;
            margin-bottom: 10px;
            font-size: 18px;
            line-height: 22px;
            @media (min-width: 992px) {
              font-size: 20px;
              line-height: 24px;
            }
          }
          p {
            margin-bottom: 20px;
          }
          a {
            color: $primary;
            font-weight: 500;
            font-size: 14px;
          }
        }
        .imgHolder {
          img {
            width: 100%;
          }
        }
      }
    }
  }
  .message {
    margin-bottom: 30px;
    @media (min-width: 992px) {
      margin-bottom: 50px;
    }
    .container {
      @include flex(center, 20px, center);
      flex-direction: column;
      @media (min-width: 768px) {
        flex-direction: row;
        @include flex(center, 20px, space-between);
      }
      .messageText {
        @media (min-width: 768px) {
          width: 60%;
        }
        .h2 {
          color: $primary;
          font-weight: 400;
          margin-bottom: 30px;
          display: block;
        }
        p {
          margin-bottom: 20px;
        }
      }
      .messageImg {
        @media (min-width: 768px) {
          width: 40%;
        }

        img {
          margin: 0 auto;
          border-radius: 50%;
        }
      }
    }
  }
  .leadership {
    margin-bottom: 30px;
    @media (min-width: 992px) {
      margin-bottom: 50px;
    }
    .container {
      .h2 {
        color: $primary;
        display: block;
        margin-bottom: 20px;
        font-weight: 400;
      }
      .leadershipCard {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;
        justify-content: center;
        @media (min-width: 768px) {
          grid-template-columns: repeat(2, 1fr);
        }
        @media (min-width: 992px) {
          grid-template-columns: repeat(3, 1fr);
        }
        @media (min-width: 1240px) {
          grid-template-columns: repeat(4, 1fr);
        }
        .card {
          margin: 0 auto;
          width: 100%;
          max-width: 290px;
          border: 1px solid $border;
          border-radius: 20px;
          img {
            border-radius: 20px 20px 0 0;
            width: 100%;
            height: 250px;
            margin: 0 auto 10px;
          }
          .textWrap {
            padding: 20px 10px;
            text-align: center;
            .title {
              display: block;
              font-size: 14px;
              line-height: 18px;
              font-weight: 500;
            }
            span {
              display: block;
              font-size: 12px;
              line-height: 16px;
            }
          }
        }
      }
    }
  }
  .school {
    margin-bottom: 30px;
    @media (min-width: 992px) {
      margin-bottom: 50px;
    }
    background-image: url(/images/home/school.jpg);
    background-position: 100% 100%;
    background-size: cover;
    height: 500px;
    position: relative;
    display: flex;
    justify-content: end;
    align-items: center;
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgba(0, 0, 0, 0.5);
      z-index: 0;
    }
    .container {
      position: relative;
      z-index: 1;
      @media (min-width: 992px) {
        margin: 0;
      }
      .textHolder {
        max-width: 400px;
        width: 100%;
        background: linear-gradient(to top right, #ffff66 0%, #0033cc 100%);
        color: $white;
        min-height: 250px;
        padding: 30px 20px;

        animation: upDown 4s infinite;
        position: relative;
        @media (min-width: 992px) {
          margin-left: auto;
        }
        .title {
          display: block;
          margin-bottom: 20px;
          text-align: center;
          font-size: 30px;
          line-height: 34px;
          @media (min-width: 992px) {
            font-size: 50px;
            line-height: 54px;
          }
        }
        .btn {
          display: flex;
          justify-content: center;
          gap: 10px;
          background: transparent;
          border: none;
        }
      }
    }
  }
  .slider {
    margin-bottom: 30px;
    @media (min-width: 992px) {
      margin-bottom: 50px;
    }
    .h2 {
      display: block;
      text-align: center;
      color: $primary;
      margin-bottom: 40px;
    }
    .slides {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .slide {
      margin: 0 20px;

      img {
        margin: 0 auto;
        width: 100%;
        max-width: 150px;
        height: 150px;
        @media (min-width: 992px) {
          max-width: 200px;
          height: 200px;
        }
      }
    }
  }
}
// Home End
//about start
#about {
  .hero {
    position: relative;
    overflow: hidden;
    background-image: url("/images/home/about-us.jpg");
    background-position: center;
    background-size: cover;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: start;
    color: $white;
    margin-bottom: 30px;
    @media (min-width: 992px) {
      margin-bottom: 50px;
    }
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgba(0, 0, 0, 0.3);
      // z-index: 0;
    }

    .container {
      position: relative;
      // z-index: 1;

      @media (min-width: 768px) {
        margin: 0;
        padding: 0 30px;
      }
      .heading {
        width: 100%;
        max-width: 500px;
        margin-top: 70px;
      }
    }
  }
  .overview {
    margin-bottom: 30px;
    @media (min-width: 992px) {
      margin-bottom: 50px;
    }
    .heading {
      font-size: 17px;
      line-height: 25px;
      max-width: 900px;
      margin-bottom: 20px;
      h2 {
        font-weight: 500;
        color: $primary;
        margin-bottom: 30px;
      }
      h3 {
        margin-bottom: 30px;
      }
    }
  }
  .vision {
    display: flex;
    align-items: start;
    justify-content: start;
    gap: 15px;
    flex-direction: column;
    margin-bottom: 30px;

    @media (min-width: 768px) {
      gap: 30px;
      flex-direction: row;
    }
    @media (min-width: 992px) {
      margin-bottom: 50px;
    }
    .icon img {
      width: 40px;
      height: 40px;
    }
    .visionWrap {
      h4 {
        color: $primary;
        font-weight: 500;
        margin-bottom: 15px;
        @media (min-width: 576px) {
          margin-bottom: 30px;
        }
      }
      .wrap {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;
        @media (min-width: 576px) {
          grid-template-columns: repeat(2, 1fr);
        }
        strong {
          font-size: 17px;
          line-height: 21px;
          font-weight: 600;
          display: block;
          margin-bottom: 8px;
          @media (min-width: 576px) {
            margin-bottom: 20px;
          }
        }
      }
    }
  }
  .security {
    h2 {
      font-weight: 500;
      color: $primary;
    }
    .securityWrap {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 30px;
      flex-direction: column;
      @media (min-width: 768px) {
        flex-direction: row;
      }
      .textHolder {
        font-size: 16px;
        line-height: 24px;
        @media (min-width: 768px) {
          width: 50%;
        }
        span {
          margin-bottom: 20px;
          display: block;
          font-size: 17px;
          line-height: 21px;
        }
        ul {
          li {
            margin-bottom: 20px;
            display: flex;
            gap: 10px;
            align-items: center;
            .box {
              width: 10px;
              height: 10px;
              background: $primary;
            }
          }
        }
      }
    }
  }
  .journey {
    padding: 50px 20px;
    background: linear-gradient(to bottom, #003366 0%, #006699 100%);
    margin-bottom: 30px;
    @media (min-width: 992px) {
      margin-bottom: 50px;
    }
    h2 {
      color: $white;
      margin-bottom: 30px;
      text-align: center;
    }
    .slider {
      display: flex;
      .slick-track {
        width: 100%;
        overflow: hidden;
      }
      .slide {
        color: $white;
        width: 300px;
        margin-bottom: 30px;
        .line {
          width: 100%;
          height: 2px;
          background-color: $white;
          position: relative;
          margin: 20px 0;
          &::before {
            content: "";
            position: absolute;
            width: 20px;
            height: 20px;
            border-radius: 50%;
            background: yellow;
            top: -7px;
            bottom: 0;
            left: 0;
          }
        }
        .title {
          font-size: 16px;
          line-height: 20px;
          display: block;
          font-weight: 600;
        }
        .para {
          font-size: 14px;
          line-height: 18px;
          display: block;
          font-weight: 400;
        }
      }
    }
  }
}
//about end
// Admission start
.admissions {
  .hero {
    position: relative;
    overflow: hidden;
    background-image: url("/images/admission/admissions.jpg");
    background-position: center;
    background-size: cover;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: start;
    color: $white;
    margin-bottom: 30px;
    @media (min-width: 992px) {
      margin-bottom: 50px;
    }
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgba(0, 0, 0, 0.3);
      // z-index: 0;
    }

    .container {
      position: relative;
      // z-index: 1;

      @media (min-width: 768px) {
        margin: 0;
        padding: 0 30px;
      }
      .heading {
        width: 100%;
        max-width: 500px;
        margin-top: 70px;
      }
    }
  }
  .procedure {
    margin-bottom: 30px;
    @media (min-width: 992px) {
      margin-bottom: 50px;
    }
    h2 {
      font-weight: 500;
      color: $primary;
      margin-bottom: 30px;
    }
    .container {
      .procedure {
        font-size: 15px;
        line-height: 25px;
        @media (min-width: 992px) {
          font-size: 17px;
          line-height: 28px;
        }
        .title {
          font-size: 18px;
          line-height: 24px;
          display: block;
          margin-bottom: 20px;
          @media (min-width: 992px) {
            font-size: 22px;
            line-height: 26px;
            margin-bottom: 30px;
          }
        }
        p {
          margin-bottom: 18px;
          @media (min-width: 992px) {
            margin-bottom: 30px;
          }
        }
        span {
          display: block;
          font-size: 13px;
          line-height: 17px;
          margin-bottom: 30px;
        }
      }
      .enroll {
        img {
          margin: 0 auto 20px;
        }
      }
      .registration {
        margin-bottom: 20px;
        .cards {
          padding: 20px 0;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-wrap: wrap;
          gap: 20px;
          .card {
            width: 100%;
            max-width: 380px;
            min-height: 230px;
            background: $primary;
            color: $white;
            padding: 20px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            font-size: 13px;
            line-height: 20px;
            .title {
              display: block;
              font-size: 18px;
              line-height: 22px;
              text-transform: uppercase;
              @media (min-width: 992px) {
                font-size: 22px;
                line-height: 26px;
              }
            }
            p {
              margin-bottom: 20px;
            }
          }
        }
      }
      .test {
        .faq-item {
          margin-bottom: 15px;
          border-bottom: 1px solid #ccc;

          .faq-question {
            display: flex;
            justify-content: space-between;
            align-items: center;
            cursor: pointer;
            padding: 15px;
            transition: background-color 0.3s ease;

            h3 {
              margin: 0;
              color: $primary;
              font-size: 18px;
            }

            .faq-toggle {
              font-size: 24px;
              font-weight: bold;
              transition: transform 0.3s ease;
            }
          }

          .faq-answer {
            display: none;
            padding: 15px;
            background-color: #fff;

            p {
              margin: 0;
              color: $primary;
              font-size: 16px;
            }
          }
        }

        .faq-item.active .faq-answer {
          display: block;
        }

        .faq-item.active .faq-question {
          font-weight: 600;
          .faq-toggle {
            content: "-";
            transform: rotate(180deg);
          }
        }
      }
    }
  }
}
// Admission End
//Career Start
.career {
  .hero {
    position: relative;
    overflow: hidden;
    background-image: url("/images/career/hero.jpg");
    background-position: center;
    background-size: cover;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: start;
    color: $white;
    margin-bottom: 30px;
    @media (min-width: 992px) {
      margin-bottom: 50px;
    }
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgba(0, 0, 0, 0.3);
      // z-index: 0;
    }

    .container {
      position: relative;
      // z-index: 1;

      @media (min-width: 768px) {
        margin: 0;
        padding: 0 30px;
      }
      .heading {
        width: 100%;
        max-width: 500px;
        margin-top: 70px;
      }
    }
  }
  .careers {
    margin-bottom: 30px;
    @media (min-width: 992px) {
      margin-bottom: 50px;
    }
    .container {
      font-size: 17px;
      line-height: 30px;
      h2 {
        color: $primary;
        font-weight: 500;
        margin-bottom: 40px;
      }
      p {
        margin-bottom: 20px;
      }
    }
  }
}
//Career End
//contact us start
.contact {
  .hero {
    position: relative;
    overflow: hidden;
    background-image: url("/images/contact/hero.jpg");
    background-position: center;
    background-size: cover;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: start;
    color: $white;
    margin-bottom: 30px;
    @media (min-width: 992px) {
      margin-bottom: 50px;
    }
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgba(0, 0, 0, 0.5);
      // z-index: 0;
    }

    .container {
      position: relative;
      // z-index: 1;

      @media (min-width: 768px) {
        margin: 0;
        padding: 0 30px;
      }
      .heading {
        width: 100%;
        max-width: 500px;
        margin-top: 70px;
      }
      small {
        font-size: 18px;
        line-height: 22px;
        display: block;
        @media (min-width: 992px) {
          font-size: 24px;
          line-height: 28px;
          margin-bottom: 20px;
        }
      }
    }
  }
  .connect {
    margin-bottom: 30px;
    @media (min-width: 992px) {
      margin-bottom: 50px;
    }
    h2 {
      color: $primary;
      text-align: center;
      margin-bottom: 25px;
      @media (min-width: 992px) {
        margin-bottom: 50px;
      }
    }
    .connectWrap {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      gap: 20px;
      justify-content: center;
      @media (min-width: 768px) {
        grid-template-columns: repeat(2, 1fr);
      }
      .office {
        max-width: 436px;
        width: 100%;
        text-align: center;
        margin: 0 auto 20px;
        ul {
          li {
            margin-bottom: 10px;
            font-size: 16px;
            line-height: 20px;
          }
        }
      }
    }
    .formWrap {
      display: flex;
      gap: 20px;
      justify-content: center;
      align-items:center;
      flex-direction: column;
      @media (min-width:992px){
        flex-direction: row;
      }
      .form {
        .h2 {
          color: $primary;
          font-weight: 500;
          margin-bottom: 20px;
        }
        .formHolder {
          .field {
            width: 100%;
            display: flex;
            flex-direction: column;
            margin-bottom: 10px;
            @media (min-width:992px){
              margin-bottom: 20px;
            }
            .error-border {
              border-color: red;
            }
            .error {
              color: red;
              font-size: 12px;
            }
            label{
              margin-bottom: 10px;
              font-size: 15px;
              line-height: 19px;
            }
            input, textarea{
              padding:10px 20px;
              width: 100%;
              border: 1px solid $border;
              outline: none;
            }
            textarea{
              resize: none;
              height: 100px;
            }
          }
          .flex{
            @media (min-width:768px){
              display: flex;
            gap: 10px;
            }
          }
        }
      }
      .map {
        img {
          width: 400px;
          height: 400px;
        }
      }
    }
  }
  .faqs {
    margin-bottom: 30px;
    @media (min-width: 992px) {
      margin-bottom: 50px;
    }
    h2 {
      color: $primary;
      margin-bottom: 30px;
    }
    .faq-item {
      margin-bottom: 15px;
      border-bottom: 1px solid #ccc;

      .faq-question {
        display: flex;
        justify-content: space-between;
        align-items: center;
        cursor: pointer;
        padding: 15px;
        transition: background-color 0.3s ease;

        h3 {
          margin: 0;
          color: $black;
          font-size: 18px;
          font-weight: 500;
        }

        .faq-toggle {
          font-size: 24px;
          font-weight: bold;
          transition: transform 0.3s ease;
        }
      }

      .faq-answer {
        display: none;
        padding: 15px;
        background-color: #fff;

        p {
          margin: 0;
          color: $primary;
          font-size: 16px;
        }
      }
    }

    .faq-item.active .faq-answer {
      display: block;
    }

    .faq-item.active .faq-question {
      h3 {
        color: $primary;
        font-weight: 600;
      }
      .faq-toggle {
        content: "-";
        transform: rotate(180deg);
      }
    }
  }
}
//contact us end
@keyframes upDown {
  from {
    top: -20px;
  }
  to {
    top: 20px;
  }
}
