header {
  position: absolute;
  right: 0;
  left: 0;
  padding: 10px 0;
  z-index: 2;
  .containerr {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0 0 40px;

    .logo {
      width: 17%;
      img {
        max-width: 138px;
        display: block;
      }
    }

    // Hamburger menu icon
    .menu-icon {
      display: none;
      cursor: pointer;

      span {
        display: block;
        width: 25px;
        height: 2px;
        background-color: white;
        margin: 5px 0;
        transition: 0.4s ease;
        &:nth-child(3) {
          width: 13px;
        }
      }

      // When active, turn hamburger into a cross
      &.active span:nth-child(1) {
        transform: rotate(45deg) translate(5px, 5px); // Top bar to cross
      }
      &.active span:nth-child(3) {
        width: 25px;
      }
      &.active span:nth-child(2) {
        opacity: 0; // Hide middle bar
      }

      &.active span:nth-child(3) {
        transform: rotate(-45deg) translate(5px, -5px); // Bottom bar to cross
      }
    }

    // Navigation menu
    nav {
      width: 82%;
      .nav-links {
        display: flex;
        justify-content: space-between;
        list-style: none;
        padding: 20px 40px 20px 0;

        @media (min-width: 1200px) {
          border-top: 1px solid white;
          border-bottom: 1px solid white;
        }

        li {
          margin-right: 20px;

          a {
            color: white;
            text-decoration: none;
            font-size: 13px;
            font-weight: 600;
            text-transform: uppercase;
            padding: 5px 10px;
            border-bottom: 2px solid transparent;
            transition: all 0.3s ease;
            &:hover {
              color: blue;
            }
          }
        }
      }
    }
  }
}

// Media query for smaller screens (992px and below)
@media (max-width: 1200px) {
  header {
    .containerr {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding: 0 20px;

      .logo {
        margin-right: auto;
      }

      // Show hamburger menu icon
      .menu-icon {
        display: block;
        position: relative;
        z-index: 2;
      }

      // Hide navigation menu initially
      nav {
        position: absolute;
        top: 0px;
        //   left: 0;
        right: 0;
        background-color: rgba(39, 68, 136, 0.95);
        display: none; // Keep it hidden by default
        width: 100%;
        max-width: 323px;
        // When nav is active (shown on hamburger menu click)
        &.active {
          display: flex;
          padding: 20px;
        }

        // For the links to show
        .nav-links {
          flex-direction: column;
          // align-items: center;

          li {
            margin: 15px 0;

            a {
              color: white;
              font-size: 13px;
              text-align: center;
            }
          }
        }
      }
    }
  }
}
